.main {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: 0.2fr 0.4fr 0.4fr;

    margin: 1vw;
    height: 100vh;
}

.picture {
    grid-column: 1;
    grid-row: 1;
    background-color: green;
    opacity: 0.4;
    text-align: center;
}

.picture img {
    width: 120px;
    height: auto;
    border-radius: 50px;
    align-items: center;
}
.profile {
    grid-column: 2;
    grid-row: 1;
    background-color: red;
    opacity: 0.4;
}

.Left {
    grid-column: 1;
    grid-row: 2/4;
    /* background-color: yellowgreen; */
    opacity: 0.4;
    display: grid;
    grid-template-rows: 0.4fr 0.2fr 0.1fr 0.3fr;
    /* grid-auto-rows: minmax(50px, auto); */
    grid-gap: 10px;
}

.experience {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(205, 188, 188);
    opacity: 0.4;
}
.education {
    grid-column: 2;
    grid-row: 3;
    background-color: rgb(181, 183, 250);
    opacity: 0.4;
}

/* li {
    display: none;
} */

.date {
    width: 10vw;
    font-weight: bold;
    display: inline-block;
}

.location {
    width: 200px;
    font-weight: bold;

    float: right;
    text-align: end;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0px;
}

.identity,
.hardskill,
.language,
.softskill {
    /* grid-template-rows: 4; */
    border: 2px solid red;
}

h1 {
    /* padding-left: 20px; */
}

.profile,
.experience,
.education,
.identity,
.hardskill,
.language,
.softskill {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.experience p {
    padding-left: 10vw;
}
