* {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
    background-color: green;
    opacity: 0.4;
}
.two {
    grid-column: 2;
    grid-row: 1;
    background-color: red;
    opacity: 0.4;
}
.three {
    grid-column: 1;
    grid-row: 2;
    background-color: yellowgreen;
    opacity: 0.4;
}
.four {
    grid-column: 2;
    grid-row: 2/4;
    background-color: grey;
    opacity: 0.4;
}
.five {
    grid-column: 1;
    grid-row: 3;
    background-color: blue;
    opacity: 0.4;
}
.seven {
    grid-column: 1;
    grid-row: 4;
    background-color: pink;
    opacity: 0.4;
}
.height {
    grid-column: 2;
    grid-row: 4/6;
    background-color: black;
    opacity: 0.4;
}

.nine {
    grid-column: 1;
    grid-row: 5;
    background-color: blueviolet;
    opacity: 0.4;
}
